@import url(https://fonts.googleapis.com/css?family=Pacifico);

//Variables
$translucent-white: rbga(255,255,255,0.3);
$icon-square-lenght: 300px;
$standard-border: 4px solid black;

h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
}

.banner {
    font-family: "Pacifico", cursive;
    height: 400px;
    background-image: url("lemonade.jpg");

    .slogan{
        position: absolute;
        border: $standard-border;
        top: 200px;
        left: 25%;
        width: 50%;
        height: 200px;
        text-align: center;
        background-color:$translucent-white;

        span{
            font-size: 24px;
            line-height: 200px;

        }

    }

}

.container {
    text-align: center;
    font-family: "Pacifico", cursive;
    
    .icon{
        display: inline-block;
        margin: 2%;
        border: $standard-border;
        font-size: 32px;
        width:$icon-square-lenght;
        height:$icon-square-lenght;

            &__title{
                color:yellow;            
            }
    }
    
}