.root{
    display:grid;
    height:100vh;
    grid-template-rows: auto auto 1fr auto;
    font-family: $primary-font;
}

.navbar{
    grid-row: 1;
    display:flex;
    position:sticky;
    top:0;
    max-height:70px;
    padding:10px;
    background-color:$primary-color;
    justify-content: space-between;
    z-index:3;
    &__logo{
        max-height:100%;
        max-width:100%;
    }
    //mobileview if viewport is smaller than 500px    
    @media (max-width:500px) {
        input[type=checkbox]{ 
            position:absolute;
            right:6px;
            height:50px;
            width:35px;
            z-index:4;
            opacity:0;
            padding:0;
            & ~  ul {
                position:absolute;
                top:50px;
                left:0;
                flex-direction: column;
                width:100%;
                display:none;
                padding:5px;
                background-color: $secondary-color;
                & li {
                    display:none;
                    opacity: 0;
                    a{
                        text-decoration: none;
                        color:$primary-color;
                    }
                    a:hover{
                        color:$tertiary-color;
                    }
                }
                img{
                    width:25px;
                    margin-right:10px;
                }
            }
            &:checked {
                & ~ div span:nth-child(2){
                    width:0;
                }
                & ~ div span:nth-child(1){
                    transition-delay: 0.3s;
                    transform:translateY(15px);
                }
                & ~ div span:nth-child(3){
                    transition-delay: 0.3s;
                    transform:translateY(-13px)
                            rotate(90deg);
                }
                & ~ div {
                    transition: all 0.3s cubic-bezier(.25,.01,.75,1);
                    transition-delay: 0.7s;
                    transform: rotate(315deg);
                }
            
                & ~ ul {
                    animation: growMainMenu 1000ms ease-in-out;
                    transform-origin: top;
                    display:block;
                    @for $num from 1 through 4{
                        & li:nth-child(#{$num}) {
                            animation: growMenu 1000ms ($num * 60ms) ease-in-out;
                            transform-origin: right;
                            display:block;
                            opacity: 1;
                        }
                    }                
                }
            }
        }
        //hamburger
        &__toggle{
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: center;
            width:35px;
            height:35px;
            margin-top:10px;
            span {
                display:block;
                width:25px;
                height:5px;
                border-radius: 0.15em;
                background-color:$tertiary-color;
                transition: all 0.3s linear;
                margin:1px;
                &:nth-child(2){
                    transition:width 0.3s linear;
                    transition-delay: 0.3s;
                    width:25px;
                }
                &:nth-child(1) &:nth-child(3){
                    transition-delay: 0.3s;
                }
            }
        }
    }
    //desktopview if vieport is wider than 501px;
    @media (min-width:501px) {
        input {
            display:none;
        }
        &__list{
            margin:0;
            padding:0;
            list-style-type: none;
            display:flex;
            li{
                padding: 10px 15px;
                a{
                    text-decoration: none;
                    color:$tertiary-color;
                }
                a:hover{
                    color:$secondary-color;
                }
                img {
                    display:none;
                }
            }
        }
    }
} 
.header{
    grid-row:2;
    padding:3px;
    display:flex;
    flex-direction: row;
}
.content{
    grid-row:3;
}
.footer{
    grid-row:4;
}

//menu animations
@keyframes growMenu {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    80% {
        transform: scaleX(1.1);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
  }

@keyframes growMainMenu {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
  }