//screensize
$screen-size-max: 515px;
$screen-size-min: 515px;

//menu items
$menu-link-count: 4;

//fonts
$primary-font:'Kdam Thmor Pro', sans-serif;
$secondary-font:Arial, Helvetica, sans-serif;

//colors
$primary-color:#FDF5DF;
$secondary-color:#5EBEC4;
$tertiary-color:#F92C85;

//productCard
$price-color: red;
$order-color: green;